In [5]:
require 'daru'
df=Daru::DataFrame.new(
  country:["Whina","EEUU","USA"],
  population: [1143,1366,329]
  )

"if(window['d3'] === undefined ||\n   window['Nyaplot'] === undefined){\n    var path = {\"d3\":\"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min\",\"downloadable\":\"http://cdn.rawgit.com/domitry/d3-downloadable/master/d3-downloadable\"};\n\n\n\n    var shim = {\"d3\":{\"exports\":\"d3\"},\"downloadable\":{\"exports\":\"downloadable\"}};\n\n    require.config({paths: path, shim:shim});\n\n\nrequire(['d3'], function(d3){window['d3']=d3;console.log('finished loading d3');require(['downloadable'], function(downloadable){window['downloadable']=downloadable;console.log('finished loading downloadable');\n\n\tvar script = d3.select(\"head\")\n\t    .append(\"script\")\n\t    .attr(\"src\", \"http://cdn.rawgit.com/domitry/Nyaplotjs/master/release/nyaplot.js\")\n\t    .attr(\"async\", true);\n\n\tscript[0][0].onload = script[0][0].onreadystatechange = function(){\n\n\n\t    var event = document.createEvent(\"HTMLEvents\");\n\t    event.initEvent(\"load_nyaplot\",false,false);\n\t    window.dispatchEvent(event);\n\t    console.log('Finished loading Nyaplotjs');\n\n\t};\n\n\n});});\n}\n"

#<Daru::DataFrame(3x2)>
               country population
          0      Whina       1143
          1       EEUU       1366
          2        USA        329

In [16]:
gem 'daru', '~> 0.3'

Gem::MissingSpecError: Could not find 'daru' (~> 0.3) among 173 total gem(s)
Checked in 'GEM_PATH=/home/osboxes/.rvm/gems/ruby-3.0.0:/home/osboxes/.rvm/rubies/ruby-3.0.0/lib/ruby/gems/3.0.0' , execute `gem env` for more information

In [21]:
require 'csv'
df=Daru::DataFrame.new()
data=CSV.open("./files/cross_data.tsv", col_sep: "\t", headers:true).read

        data_cross.each do |row|
            cross_object = Cross_data.new(  \
                parent1: row[0],    \
                parent2: row[1],    \
                f2_Wild: row[2],    \
                f2_P1: row[3],      \
                f2_P2: row[4],      \
                f2_P1P2: row[5])
            df=Daru::DataFrame.
        return cross_object_list
        end

NameError: undefined local variable or method `data_cross' for #<Object:0x000055b494ef5760 @prompt={:PROMPT_I=>"3.0.0 :%03n > ", :PROMPT_S=>"3.0.0 :%03n%l> ", :PROMPT_C=>"3.0.0 :%03n > ", :PROMPT_N=>"3.0.0 :%03n?> ", :RETURN=>" => %s \n", :AUTO_INDENT=>true}>

In [27]:
df = Daru::DataFrame.from_csv("./files/cross_data.tsv",col_sep: "\t")

#<Daru::DataFrame(5x6)>
         Parent1 Parent2 F2_Wild   F2_P1   F2_P2 F2_P1P2
       0    A334    A348     110      33      38      11
       1    A348   B3334      80      26      29       8
       2   B3334     A51      99      36      34      12
       3     A51     B52     152      26      22       2
       4     B52    A334      75      22      30       7

In [32]:
df["F2_Wild"]=df["F2_Wild"]-7

#<Daru::Vector(5)>
         F2_Wild
       0     103
       1      73
       2      92
       3     145
       4      68